<div class="wrapper">
    <div class="hero">
    </div>

    <div class="perfil">
        <div class="datos">
            <img src="https://thispersondoesnotexist.com/image">
            <p>Nombre:</p>
            <p>Apellidos:</p>
            <p>Zona:</p>
            <p>Nivel:</p>
        </div>
        <div class="muro">
            <div class="comentarios">
                <textarea name="muro" id="comentario" cols="30" rows="10">Escribe un comentario</textarea>
            </div>
            <div class="fotos">

            </div>

        </div>
    </div>
</div>