@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.perfil {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
}

.datos {
    width: 20%;
    background-color: #e5e8e8;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Special Elite', cursive;
}

.datos img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 75%;
}

.muro {
    background-color: #e5e8e8;
    border-radius: 10px;
    width: 76.8%;
    margin: 10px;
    padding: 10px;
    font-family: 'Special Elite', cursive;
}

.muro #comentario{
    height: 150px;
}

.misComentarios {
    background-color:  #e5e8e8 ;
    width: 99%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.misComentarios h3{
    font-family: 'Special Elite', cursive;
}

.misComentarios .publicados{
    width: 99%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.misComentarios .publicados button {
    width: 3%;
    float: right;
    margin-top: -50px;
}

.misComentarios .publicados img{
    width: 90%;
}