<div class="wrapper">
    <div class="perfil">
        <div class="datos">
            <img src="https://thispersondoesnotexist.com/image">
            <p><strong>Nombre:</strong> {{corredor.nombre}}</p>
            <p><strong>Apellidos:</strong> {{corredor.apellidos}}</p>
            <p><strong>Zona:</strong> {{corredor.zona}}</p>
            <p><strong>Nivel:</strong> {{corredor.nivel}}</p>
        </div>
        <div class="muro">
            <div class="comentarios">
                <input type="text" name="muro" id="comentario" placeholder="Escribe un comentario">
                <input (ngSubmit)="onSubmitComentario()" type="submit" value="Publicar" class="btn btn-secondary">
            </div>
            <div class="fotos">

            </div>
            <div class="publicados" *ngFor="let coment of comentario">
                <p>{{comentario}}</p>
            </div>

        </div>
    </div>
</div>