<div class="wrapper">
    <div class="perfil">
        <div class="datos">
            <img src="https://thispersondoesnotexist.com/image">
            <p><strong>Nombre:</strong> {{corredor?.nombre}}</p>
            <p><strong>Apellidos:</strong> {{corredor?.apellidos}}</p>
            <p><strong>Zona:</strong> {{corredor?.zona}}</p>
            <p><strong>Nivel:</strong> {{corredor?.nivel}}</p>
        </div>
        <div class="muro">
            <form [formGroup]="formulario" (ngSubmit)="onSubmitPublicado()">
                <div class="form-group">
                    <label>Titulo</label>
                    <input type="text" placeholder="Escribe un titulo" class="form-control" formControlName="titulo">
                </div>
                <div class="form-group">
                    <label>Comentario</label>
                    <input type="text" placeholder="Escribe un comentario" id="comentario" class="form-control"
                        formControlName="comentario">
                </div>
                <input type="submit" value="Publicar" id="boton" class="btn btn-secondary">
            </form>
        </div>
        <div class="misComentarios">
            <h3>Comentarios que has publicado</h3>
            <div class="publicados" *ngFor="let coment of corredor?.comentarios">
                <h4><strong>{{coment.titulo}}</strong></h4>
                <p>{{coment.comentario}}</p>
                <button (click)="onBorrar(coment.id)" class="btn btn-sm btn-danger"><img
                        src="../../assets/images/cubo.png" alt=""></button>
            </div>
        </div>
    </div>
</div>