.fondo{
    background-image: url(../../assets/images/amanecer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    background-blend-mode: multiply;
    height: 100%;
    padding: 20px;
}

form{
    width: 400px;
    background-color: #e5e8e8;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
}

form div select{
    margin-left: 10px;
}

input.ng-valid.ng-touched{
    border: 1px solid green;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}