@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.wrapper{
    margin: auto;
}

.bloque{
    width: 90%;
    margin: auto;
    padding: 20px;
    
}

.bloque .nuevo{
    margin: 20px;
    width: 98%;
    font-family: 'Special Elite', cursive;
    background-color:  #e5e8e8;
    padding: 20px;
}

.bloque .nuevo #comentario{
    height: 100px;
    border-radius: 5px;
} 

.bloque .nuevo #boton{
    margin: 20px;
}

.bloque .gente{
    margin: 20px;
    width: 98%;
    background-color:  #e5e8e8;
    padding: 20px;
}

.bloque .gente h3{
    font-family: 'Special Elite', cursive;
    margin: 20px;
    padding: 20px;
}

.bloque .publicados{
    background-color: white;
    width: 99%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.bloque .publicados button{
    width: 3%;
    float: right;
    margin-top: -50px;
}

.bloque .publicados img{
    width: 99%;
}