.bloque{
    background-color:  #e5e8e8 ;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.bloque .nuevo #comentario{
    width: 99%;
    height: 100px;
    border-radius: 5px;
} 

.bloque .nuevo #boton{
    margin: 20px;
}

.bloque .publicados{
    background-color: white;
    width: 99%;
    padding: 20px;
    margin: auto;
}

.bloque .publicados button{
    width: 3%;
    float: right;
    margin-top: -50px;
}

.bloque .publicados img{
    width: 90%;
}