@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

.wrapper {
    width: 100%;
    margin: auto;
    /* padding: 20px; */
}

.eventos {
    display: flex; 
    flex-wrap: wrap; 
} 

.carreras{
    width: 23%;
    background-color: #e5e8e8;
    margin: 1%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.carreras p {
    font-weight: bold;
    font-family: 'Sansita Swashed', cursive;
}

.carreras img{
    width: 100px;
    height: 100px;
    
}

.hero {
    width: 100%;
}

.hero img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

.filtro {
    padding: 10px;
    background-color: #c1c3c3;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
}

.filtro select {
    margin-left: 25px;
    padding: 5px;
    margin-right: 50px;
    width: 20%;
}

.filtro p {
    color: black;
    font-weight: bold;
    
}