<div class="wrapper">
    <div class="hero">
        <!-- <img src="../../assets/images/playa.jpg" alt=""> -->
    </div>
    <div class="eventos">
        <div class="carreras" *ngFor="let evento of arrayEventos">
            <!-- <img [src]="evento.imagen"> -->
            <img [src]="'./assets/images/'+ evento.nivel.toLowerCase() +'.png'">
            <!-- <img src="assets/images/avanzado.png">
        <img src="assets/images/intermedio alto.png">
        <img src="assets/images/intermedio.png">
        <img src="assets/images/intermedio bajo.png">
    <img src="assets/images/principiante.png">-->
            <h4>{{ evento.titulo }}</h4>
            <p>Nivel: {{ evento.nivel }}</p>
            <p>Fecha: {{ evento.fecha | date }}</p>
            <p>Hora: {{ evento.hora }}</p>
            <p>Zona: {{ evento.zona }}</p>
            <p>Creado por:</p>
            <button class="btn btn-sm btn-secondary" (click)="onClick($event)">Apuntarse</button>
        </div>
    </div>
</div>