<div class="wrapper">
    <nav>
        <ul>
            <li>CREAR EVENTO</li>
            <li>COMENTARIOS / INCIDENCIAS</li>
            <li>ENLACES DE INTERES</li>
            <li>
                <input type="text" placeholder="Buscar"> </li>
            <li>PERFIL</li>
            <li>LOG OUT</li>
        </ul>
    </nav>
    <div class="hero"></div>
    <div class="carreras" *ngFor="let evento of arrayEventos">
        <img [src]="evento.imagen">
        <h4>{{ evento.titulo }}</h4>
        <p>Nivel: {{ evento.nivel }}</p>
        <p>Fecha: {{ evento.fecha }}</p>
        <p>Hora: {{ evento.hora }}</p>
        <p>Zona: {{ evento.zona }}</p>
        <p>Creado por:</p>
        <button class="btn btn-sm btn-secondary">Apuntarse</button>
    </div>
</div>