<div class="enlaces">
    <div class="enlace">
        <div class="col-t-6 col-d-6">
            <img src="../../assets/images/runners.jpg">

            <div class="texto">
                <h4>10 Consejos para corredores
                    principiantes</h4>
                <p>Cuando empiezas a correr lo quieres tener todo bajo control: te has comprado unas zapatillas nuevas,
                    has
                    seleccionado la equipación que más te gusta, has conseguido un plan de entrenamiento para empezar a
                    correr o un entrenador y puede que incluso te hayas hecho con un pulsómetro. Es duro, te cuesta
                    arrancar, pero te has concienciado para salir por lo menos 3 veces por semana. ¡Pinta bien! Pero
                    empezar
                    a correr con continuidad conlleva muchas otras situaciones que probablemente no hayas previsto y que
                    se
                    escapan a tu control. ¡Necesitas tomar nota de los consejos para corredores principiantes
                    fundamentales!
                    Arranca tu primer año corriendo (de forma constante y concienciada) y aquí tienes nuestros…</p>
                <a href="https://blog.runnics.com/consejos/consejos-corredores-principiantes/" target="_blank">Leer
                    más...</a>
            </div>
        </div>
    </div>
    <div class="enlace fondocolor">
        <div class="col-t-6 col-d-6">
            <img src="../../assets/images/batidoRunner.jpg">

            <div class="texto">
                <h4>Come mejor y corre más rápido: Guía de nutrición para runners</h4>
                <p>Tanto si eres principiante, como si eres un runner de maratón regular, tu cuerpo necesita alimentarse
                    adecuadamente para que puedas dar lo mejor de ti. Esta guía de nutrición te ayudará a hacerte una
                    idea de lo que deberías comer antes, durante y después de correr.

                    Alimentos para runners; huevos, pan y verduras</p>
                <a href="https://www.runtastic.com/blog/es/guia-de-nutricion-para-runners" target="_blank">Leer
                    más...</a>
            </div>
        </div>
    </div>
    <div class="enlace">
        <div class="col-t-6 col-d-6">
            <img src="../../assets/images/maratonChina.jpg">

            <div class="texto">
                <h4>Las maratones más bonitas del mundo</h4>
                <p>Correr una maratón es para muchos un elemento de la lista de imprescindibles. Pero, ¿por qué correr
                    por tu ciudad si puedes hacerlo también por un paisaje exótico? ¿Listo para empezar? Aquí tienes 4
                    de las maratones más bonitas del mundo.</p>
                <a href="https://www.iflymagazine.com/es/magazines/active/spoton-marathons" target="_blank">Leer
                    más...</a>
            </div>
        </div>
    </div>
    <div class="enlace fondocolor">
        <div class="col-t-6 col-d-6">
            <img src="../../assets/images/zapatillas.jpg">

            <div class="texto">
                <h4>Consejos para Elegir tus Primeras Zapatillas de Running</h4>
                <p>Si quieres iniciarte en el mundo del running y elegir tus primeras zapatillas, lo primero que debes
                    saber es que no existen las zapatillas perfectas. La mejor zapatilla, más allá de un modelo o una
                    marca, será aquella que se adapte a tus necesidades según diversos factores que vamos a analizar en
                    este artículo, así que toma buena nota.</p>
                <a href="https://escueladerunning.com/consejos-elegir-zapatillas-running/" target="_blank">Leer
                    más...</a>
            </div>
        </div>
    </div>
</div>