nav{
    background-color: #2E2E2E;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
}

nav img{
    width: 8%;
    float:left;
    margin: 10px 0px 15px 10px;
    cursor: pointer;
}

nav ul{
    width: 100%;
}

nav ul li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0 10px 80px;
    cursor: pointer;
}


footer{
    background-color: #2E2E2E;
    color: white;
    width: 100%;
    height: 30%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
}

