<div class="registro">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
            <p class="text-danger"
                *ngIf="formulario.get('nombre').hasError('required') && formulario.get('nombre').touched">
                El campo nombre es obligatorio
            </p>
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control" formControlName="apellidos">
            <p class="text-danger"
                *ngIf="formulario.get('apellidos').hasError('required') && formulario.get('apellidos').touched">
                El campo apellidos es obligatorio
            </p>
        </div>
        <div class="form-group">
            <label>Edad</label>
            <input type="number" class="form-control" formControlName="edad">
            <p class="text-danger"
                *ngIf="formulario.get('edad').hasError('edadvalidator') && formulario.get('edad').touched">
                El campo edad debe ser mayor de {{ formulario.get('edad').errors.edadvalidator.min }}
            </p>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
            <p class="text-danger"
                *ngIf="formulario.get('email').hasError('pattern') && formulario.get('email').touched">
                El email debe tener un formato correcto
            </p>

        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            <input type="text" class="form-control" formControlName="telefono">
        </div>
        <div class="form-group">
            <label>Nivel</label>
            <select formControlName="nivel">Elige un nivel
                <option value="-1" selected>Elige un nivel</option>
                <option value="Principiante">Principiante</option>
                <option value="Intermedio Bajo">Intermedio Bajo</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Intermedio Alto">Intermedio Alto</option>
                <option value="Avanzado">Avanzado</option>
            </select>
        </div>
        <div class="form-group">
            <label>Zona</label>
            <input type="text" class="form-control" formControlName="zona">
        </div>
        <input type="submit" value="Enviar" class="btn btn-block btn-secondary">
    </form>
</div>