.registro{
    background-color: #e5e8e8;
    width: 60%;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

input.ng-valid.ng-touched{
    border: 1px solid green;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}